
    <div class="row gy-5">
      <p class="h1-header text-center" >CARTES D'ABONNEMENT</p>
        <div class="col-sm-12 col-md card-premium">
            <div class="card-price">
                <div class="card-price-image" style="background: url(assets/img/card_premium.png) no-repeat; background-size: contain;">
                </div>
                <div class="card-price-text">
                    <h2>Carte d'abonnement <b>Premium</b></h2>
                    <div style="background-color: #6C5846;" class="price-tag">
                        5000
                    </div>
                    <p>Accès à la zone présidentielle
                        Accès à la zone VIP (zone présidentielle – accès au buffet)
                         pour tous les matches de Botola Pro Inwi à domicile du Mas.</p>
                        
                </div>
                <div class="card-price-btn">
                    <button>Acheter</button>
                </div>
            </div>
        </div>
        <div class="col card-gold">
            <div class="card-price">
            <div class="card-price-image" style="background: url(assets/img/card_gold.png) no-repeat; background-size: contain;">
            </div>
            <div class="card-price-text">
                <h2>Carte d'abonnement <b>Gold</b></h2>
                <div class="price-tag">
                    2500
                </div>
                <p>Accès à la zone tribune d’honneur
                    Accès aux matches de la Botola Pro Inwi à domicile du Mas</p>
                    
            </div>
            <div class="card-price-btn">
                <button>Acheter</button>
            </div>
        </div>
    </div>
    <div class="col card-silver">
        <div class="card-price">
        <div class="card-price-image" style="background: url(assets/img/card_silver.png) no-repeat; background-size: contain;">
        </div>
        <div class="card-price-text">
            <h2>Carte d'abonnement <b>Silver</b></h2>
            <div style="background-color: gray;" class="price-tag">
                1200
            </div>
            <p>Accès à la zone tribune d’honneur
                Accès aux matches de la Botola Pro Inwi à domicile du Mas</p>
                
        </div>
        <div class="card-price-btn">
            <button>Acheter</button>
        </div>
    </div>
    </div>
    
    <div class="col card-bronze">
        <div class="card-price">
        <div class="card-price-image" style="background: url(assets/img/card_bronze.png) no-repeat; background-size: contain;">
        </div>
        <div class="card-price-text">
            <h2>Carte d'abonnement <b>Bronze</b></h2>
            <div style="background-color: #C7A18C;" class="price-tag">
                350
            </div>
            <p>Accès à la zone pelouse
                Accès aux matches de la Botola Pro Inwi à domicile du Mas</p>
                
        </div>
        <div class="card-price-btn">
            <button>Acheter</button>
        </div>
    </div>
    </div>
        
    </div>
