<header>
  <a href="#" class="site-logo" aria-label="homepage">
    <img height="50" src="assets/img/MAS_logo.png" alt="">
  </a>
  <nav class="main-nav" >
    <ul class="nav__list" data-visible="false" id="main-nav">
      <li class="nav__list-item"><a (click)="scroll(mot_du_president)" routerLink="" class="nav__link">MOT DU PRÉSIDENT</a></li>
      <li class="nav__list-item">
        <a class="nav__link" (click)="scroll(palmares)" routerLink="">PALMARÈS</a>
      </li>
      <li class="nav__list-item">
        <a (click)="scroll(public)" routerLink="" class="nav__link">PUBLIC</a>
      </li>
      <li class="nav__list-item">
        <a (click)="scroll(prochainMatch)" routerLink="" class="nav__link">PROCHAIN MATCH</a>
      </li>
      <li class="nav__list-item">
        <a (click)="scroll(produits)" routerLink="" class="nav__link">Produits</a>
      </li>
    </ul>
  </nav>
  <nav class="account">
    <ul class="nav__list" >
      <li class="nav__list-item">
        <a class="nav__link nav__link--btn" (click)="scroll(cartes_abonnement)" routerLink="">CARTES D'ABONNEMENT</a>
      </li>
      <li class="nav__list-item">
        <a class="nav__link nav__link--btn" (click)="scroll(ticket)" routerLink="">Ticket</a>
      </li>
      <!--      <li class="nav__list-item">-->
      <!--        <a class="nav__link nav__link&#45;&#45;btn nav__link&#45;&#45;btn&#45;&#45;highlight" href="#">Join</a>-->
      <!--      </li>-->
    </ul>

  </nav>
  <button (click)="onMobileNavToggle($event)"  aria-controls="main-nav" aria-expanded="false" id="mobile-nav-toggle" class="mobile-nav-toggle">
    <span class="sr-only">Menu</span>
    </button>
</header>
<main class="mb-5">
  <section style="overflow: hidden;" class="home-intro">
    <div class="welcome">
      <div class="home-brand">
        <div class="animate__animated animate__backInRight animate__fast">
          <img class="" src="assets/img/MAS_logo.png" alt="">
        </div>
        <div class="animate__animated animate__backInRight animate__delay-1s
          animate__fast">
          <h1 class="">
            Maghreb Association Sportive de Fès
          </h1>
        </div>
      </div>

      <div class="animate__animated animate__backInRight animate__delay-2s
        animate__fast">
        <p class="">
          <b>Bienvenue</b> Sur le site web officiel du Maghreb Association
          Sportive De Fes
        </p>
      </div>
    </div>
  </section>
</main>

<div class="container mb-5">
  <section class="zone mb-5 ps-5 pe-5 pb-2" #mot_du_president>
    <div style="padding: 3vh 0;">
      <p class="h1-header">MOT DU PRÉSIDENT</p>
    </div>
    <div class="row text-center">
      <div class="col-sm-12 col-md-7 m-0 p-0">
        <img class="president-img"
          src="assets/img/Image-2022-09-24-at-11.29.25-AM.jpeg" alt="">
      </div>
      <div class="col-sm-12 col-md-5 m-0 p-0">
        <div class="row">
          <div class="col-12">
            <p class="text-start" style="height: 100%; font-size: 18px; font-weight: 500;">Chers fans du Maghreb Association Sportive
              de Fès,
              C’est avec un immense plaisir que nous vous annonçons le lancement
              du site web officiel de notre cher club.
              Dans le cadre de la nouvelle stratégie marketing du club, j’ai le
              plaisir de vous annoncer aussi le début de la campagne
              d’abonnement pour la saison sportive 2022/2023.
              Cette campagne est adressée aux fidèles du MAS qui soutiennent
              toutes les actions du club.
              Ces cartes d’abonnement garantissent votre présence à côté de
              votre club tout au long de la saison et pendant tous les matches
              du Maghreb Association Sportive de Fès au Complex sportif de Fès,
              afin de soutenir votre club comme vous l’avez toujours fait. Et
              comme on dit toujours : « Notre public, notre fierté »
              J’invite tout fan de notre cher club à contribuer au succès de
              cette campagne.
              DIMA MAS!.</p>
          </div>
          <div>
            <hr>
            <p class="h2 font-monospace">M. Ismail JAMAI</p>
            <small class="text-muted font-monospace">
              Président du Maghreb Association sportive de Fès (MAS)
            </small>
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
  <section class="zone mb-5" #palmares>
    <div class="box" style="padding: 3vh 0;">
      <p class="h1-header m-0">PALMARÈS D'UN GRAND CLUB</p>
    </div>

    <div class="container pb-5">
      <ngx-slick-carousel class="carousel p-2 m-0 "
      #slickModal="slick-carousel"
      [config]="slideConfigOfPalmares">
      <div ngxSlickItem *ngFor="let slide of slidesOfPalmares" class="slide">

        <div class="row">
          <div class="col-sm-12 col-md-7">
            <img class="carousel-img" src="{{ slide.img }}">

          </div>
          <div class="col-sm-12 col-md-5" style="height: 100%; font-size: 18px; font-weight: 500;">
            <p class="text-start">
              {{slide.story}}
            </p>
          </div>
        </div>
        </div>
    </ngx-slick-carousel>
    </div>

  </section>
</div>


<section class="cup mb-5">
  <p class="h1-header text-center" style="color:#ffe600;">UN GRAND CLUB UNE
    GRANDE HISTOIRE</p>
    <div class="container">
      <ngx-slick-carousel class="carousel p-2"
      #slickModal="slick-carousel"
      [config]="slideConfig">
      <div ngxSlickItem *ngFor="let slide of slidesOfCups" class="slide container">
        <img style="margin: auto;" src="{{ slide.img }}" alt="" height="auto"
          width="191px">
        </div>
    </ngx-slick-carousel>
    </div>
</section>



<div class="container">
  <section class="mb-5" #public>
        <div class="row zone public pb-5">
              <div class="col-md-8 col-sm-12 m-0 p-0">
                <ngx-slick-carousel class="carousel p-2 m-0 "
                  #slickModal="slick-carousel"
                  [config]="slideConfigOfPalmares">
                  <div ngxSlickItem *ngFor="let slide of slidesOfPublic" class="slide">
                        <img class="carousel-img" src="{{ slide.img }}">
                      </div>
                </ngx-slick-carousel>

              </div>
              <div class="col mt-4" style="display: flex; align-self: center;">
               <p style="font-weight: bolder;" class="h1-header">
                NOTRE PUBLIC NOTRE FIERTÉ
               </p>
              </div>
        </div>
  </section>

  <section class="mb-5">
      <p><span class="h4" style="color:#ffe600;">Résultats</span><br> <span class="h1">DES DERNIERS MATCHS</span></p>
    <div class="row gy-4" >
      <div class="col">
        <div class="card-match text-center">
            <div class="">
              <img width="50px" height="60px" src="assets/img/img-logo-equipe/OCS_logo.png" alt="">
              <p class="h5">OCS</p>
          </div>
          <div>
           <p class="text-muted m-3"><small>11 septembre <br> 2022</small></p>
           <p class="h4">2 - 1</p>
           <p class="text-muted"><small>terminé</small></p>
          </div>
          <div>
            <div class="">
              <img width="50px" height="60px" src="assets/img/img-logo-equipe/MAS_logo.png" alt="">
              <p class="h5">MAS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card-match text-center" style="display: flex;">
            <div class="">
              <img width="50px" height="60px" src="assets/img/img-logo-equipe/MAS_logo.png" alt="">
              <p class="h5">MAS</p>
            </div>
          <div>
           <p class="text-muted m-3"><small>17 septembre <br> 2022</small></p>
           <p class="h4">0 - 1</p>
           <p class="text-muted"><small>terminé</small></p>
          </div>
          <div>
            <div class="">
              <img width="50px" height="60px" src="assets/img/img-logo-equipe/JSS_logo.png" alt="">
              <p class="h5">JSS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card-match text-center" style="display: flex;">
          <div class="">
              <img width="50px" height="60px" src="assets/img/img-logo-equipe/FUS_logo.png" alt="">
              <p class="h5">FUS</p>
          </div>
          <div>
           <p class="text-muted m-3"><small>2 octobre <br> 2022</small></p>
           <p class="h4">0 - 0</p>
           <p class="text-muted"><small>terminé</small></p>
          </div>
          <div>
            <div class="">
              <img width="50px" height="60px" src="assets/img/img-logo-equipe/MAS_logo.png" alt="">
              <p class="h5">MAS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <br>
        <hr>
      </div>
    </div>
  </section>
</div>


<div>
  <section #prochainMatch class="mb-5">
    <div class="row zone" style="width: 99.99%; height: 80%; margin: auto;">

      <div class="col-md col-sm-12"  style="display: flex; align-self: center; ">
        <div style="margin: auto;">
           <p style="font-weight: bolder; " class="h1-header">
             PROCHAIN MATCH
            </p>
            <p class="text-muted">
             BOTOLA PRO INWI - 4EME JOURNEE
            </p>
          <div class="card-match text-center">
            <p class="h4">

            </p>
           <div class="">
             <img width="100px" height="110px" src="assets/img/img-logo-equipe/FUS_logo.png" alt="">
             <p class="h4">FUS</p>
         </div>
         <div>
          <!-- <p class="text-muted m-3"><small>11 septembre <br> 2022</small></p> -->
          <p class="h1-header m-4">VS</p>
          <!-- <p class="text-muted"><small>11 septembre 2022</small></p> -->
         </div>
         <div>
           <div class="">
             <img width="100px" height="110px" src="assets/img/img-logo-equipe/MAS_logo.png" alt="">
             <p class="h4">MAS</p>
           </div>
         </div>
       </div>
         </div>
      </div>

          <div class="col-md p-0 m-0">
            <img src="assets/img/img-mas-public/cre1.png" class="d-block w-100" height="100%" alt="">
          </div>
    </div>
</section>
</div>


<div class="container">
  <section class="mt-4 mb-5" #cartes_abonnement>
    <app-subscription-card></app-subscription-card>
  </section>
<div class="mb-5"></div>
</div>
<br>
<br>
<section class="zone mb-5" #ticket>
  <app-ticket-card></app-ticket-card>
</section>


<section #produits class=" pb-5">
  <app-mas-product></app-mas-product>
</section>

  <br>
  <hr>


<footer class="cup p-5">
  <div class="row">
    <div class="col-md col-sm-12" style="padding: 0;">
      <a href="/#" class="site-logo" aria-label="homepage">
        <img height="100" src="assets/img/MAS_logo.png" alt="">
      </a>
    </div>
    <div class="col text-center" style="position: relative; margin: auto;">
      <p class="h2">
        Suivez le MAS de Fès sur les réseaux sociaux
      </p>
      <br>
      <ul class="media">
        <li>
          <a href="https://www.facebook.com/CLUBMASOFF" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/clubmasoff" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          </li>
        <li>
          <a href="https://www.tiktok.com/@clubmasoff" target="_blank">
            <i class="fab fa-tiktok"></i>
          </a>
        </li>
      </ul>
    </div>
    <div>
      <br>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md col-sm-12 text-center" style="padding: 0;">
      <ul class="nav__list mb-3">
        <li class="nav__list-item">
          <a class="nav__link nav__link--btn" style="color: #ffe600;" (click)="scroll(cartes_abonnement)" routerLink="">CARTES D'ABONNEMENT</a>
        </li>
        <li class="nav__list-item">
          <a class="nav__link nav__link--btn" style="color: #ffe600;" (click)="scroll(ticket)" routerLink="">TICKET</a>
        </li>
      </ul>
    </div>
    <div class="col text-center" style="position: relative; margin: auto;">
      <p class="h6">
        © 2022. All Rights Reserved.
      </p>
     </div>
  </div>
</footer>
