<div class="container">
    <p class="h1-header">Produits</p>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a class="image">
                        <img class="pic-1" src="assets/img/products/banner_standard.png">
                    </a>
                    <!-- <span class="product-sale-label"> 250 DH</span> -->
                    <div class="price"> 199 DH </div>
                </div>
                <div class="product-content">
                    <h3 class="title mb-1"><a target="_blank" href="https://tiketi.net/mas/product/258b42f5-015d-4139-b7f5-c2f76a3e349a">City edition</a></h3>
                    <a target="_blank" href="https://tiketi.net/mas/product/258b42f5-015d-4139-b7f5-c2f76a3e349a">
                        <button  class="button-13"><i class="fas fa-shopping-cart"></i> Acheter</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a class="image">
                        <img class="pic-1" src="assets/img/products/banner_city.jpeg">
                    </a>
                    <div class="price">250 DH</div>
                </div>
                <div class="product-content">
                    <h3 class="title mb-1"><a target="_blank" href="https://tiketi.net/mas/product/258b42f5-015d-4139-b7f5-c2f76a3e349a">Standard edition</a></h3>
                    <a target="_blank" href="https://tiketi.net/mas/product/258b42f5-015d-4139-b7f5-c2f76a3e349a">
                        <button  class="button-13"><i class="fas fa-shopping-cart"></i> Acheter</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>