<div style="text-align: start;">
    <p class="h1-header text-center">
            TICKET
    </p>
    <div class="row w-100">
        <div class="col">
            <div class="ticket">
                <!-- <div class="holes-top"></div> -->
                <div class="title">
                    <!-- <p class="cinema">VIP</p> -->
                    <!-- <p class="movie-title">ONLY GOD FORGIVES</p> -->
                    <p class="text-center h4"><b>VIP</b></p>
                    <br>
                    <p><b>GATE: VI 1</b></p>
                </div>
                <div class="poster">
                    <img src="assets/img/card_gold.png" alt="Movie: Only God
                        Forgives" />
                </div>
                <div class="info">
                    <p class="h6">
                        <br>
                        <b>Prix: 200 DH</b>
                    </p>

                </div>
                <div class="holes-lower"></div>
                <div class="p-2 mb-4" style="display: flex; justify-content:
                    space-between;">
                    <div>
                        <img width="110px" src="assets/img/barcode.png" alt="">
                    </div>
                    <div> <button class="button-13" role="button">Acheter</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="ticket">
                <!-- <div class="holes-top"></div> -->
                <div class="title">
                    <!-- <p class="cinema">VIP</p> -->
                    <!-- <p class="movie-title">ONLY GOD FORGIVES</p> -->
                    <p class="text-center h4"><b>TRIBUNE</b></p>
                    <br>
                    <p><b>GATE: TR 2</b></p>
                </div>
                <div class="poster">
                    <img src="assets/img/card_gold.png" alt="Movie: Only God
                        Forgives" />
                </div>
                <div class="info">
                    <p class="h6">
                        <!-- <b>Zone: Zone Couverte VIP</b> -->
                        <br>
                        <b>Prix: 100 DH</b>
                    </p>

                </div>
                <div class="holes-lower"></div>
                <div class="p-2 mb-4" style="display: flex; justify-content:
                    space-between;">
                    <div>
                        <img width="110px" src="assets/img/barcode.png" alt="">
                    </div>
                    <div> <button class="button-13" role="button">Acheter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="ticket">
                <!-- <div class="holes-top"></div> -->
                <div class="title">
                    <!-- <p class="cinema">VIP</p> -->
                    <!-- <p class="movie-title">ONLY GOD FORGIVES</p> -->
                    <p class="text-center h5"><b>Coté Nord <br> Virage Des Ultras</b></p>
                    <p><b>GATE: BU 3</b></p>
                </div>
                <div class="poster">
                    <img src="assets/img/card_gold.png" alt="Movie: Only God
                        Forgives" />
                </div>
                <div class="info">
                    <p class="h6">
                        <!-- <b>Zone: Zone Couverte VIP</b> -->
                        <br>
                        <b>Prix: 30 DH</b>
                    </p>

                </div>
                <div class="holes-lower"></div>
                <div class="p-2 mb-4" style="display: flex; justify-content:
                    space-between;">
                    <div>
                        <img width="110px" src="assets/img/barcode.png" alt="">
                    </div>
                    <div> <button class="button-13" role="button">Acheter</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="ticket">
                <!-- <div class="holes-top"></div> -->
                <div class="title">
                    <!-- <p class="cinema">VIP</p> -->
                    <!-- <p class="movie-title">ONLY GOD FORGIVES</p> -->
                    <p class="text-center h5"><b>Coté Sud <br> Virage Des Visiteurs</b></p>
                    <p><b>GATE: BV 4</b></p>
                </div>
                <div class="poster">
                    <img src="assets/img/card_gold.png" alt="Movie: Only God
                        Forgives" />
                </div>
                <div class="info">
                    <p class="h6">
                        <!-- <b>Zone: Zone Couverte VIP</b> -->
                        <br>
                        <b>Prix: 30 DH</b>
                    </p>

                </div>
                <div class="holes-lower"></div>
                <div class="p-2 mb-4" style="display: flex; justify-content:
                    space-between;">
                    <div>
                        <img width="110px" src="assets/img/barcode.png" alt="">
                    </div>
                    <div> <button class="button-13" role="button">Acheter</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="ticket">
                <!-- <div class="holes-top"></div> -->
                <div class="title">
                    <!-- <p class="cinema">VIP</p> -->
                    <!-- <p class="movie-title">ONLY GOD FORGIVES</p> -->
                    <p class="text-center h5"><b>Coté EST <br> Grand Publique</b></p>
                    <p><b>GATE: GP 5</b></p>
                </div>
                <div class="poster">
                    <img src="assets/img/card_gold.png" alt="Movie: Only God
                        Forgives" />
                </div>
                <div class="info">
                    <p class="h6">
                        <!-- <b>Zone: Zone Couverte VIP</b> -->
                        <br>
                        <b>Prix: 30 DH</b>
                    </p>

                </div>
                <div class="holes-lower"></div>
                <div class="p-2 mb-4" style="display: flex; justify-content:
                    space-between;">
                    <div>
                        <img width="110px" src="assets/img/barcode.png" alt="">
                    </div>
                    <div> <button class="button-13" role="button">Acheter</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
