/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffe600;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cebf51;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.h1-header {
  font-family: Georgia, sans-serif;
  font-size: 3em;
  letter-spacing: -2px;
}
